<div class="card">
    <fieldset class="fset-add">
        <legend>Add NEWS</legend>
        <form action="/add" method="POST">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" placeholder="Title" required autofocus>
            </div>
            <div class="form-group">
                <label for="news">News</label>
                <input type="text" id="news" name="news" placeholder="News" required>
            </div>
            <div class="form-group">
                <input type="submit" id="add" name="add" value="Add">
            </div>
            <div class="sign-message">
                <output><%= message %></output>
            </div>
        </form>
    </fieldset>
</div>